<form [formGroup]="LoginDoctorsForm" class="form mt-5" (ngSubmit)="handleForm()">
    <p class="title">Welcome Doctor</p>
  
  
    <label class="w-75 mx-auto">
      <input formControlName="email" class="input" type="email" placeholder="" required="" />
      <span>Email</span>
    </label>
    <label class="w-75 mx-auto">
      <input formControlName="password" class="input" type="password" placeholder="" required="" />
      <span>Password</span>
    </label>
   
      

  
  
    <button class="submit text-capitalize fw-bold">Login</button>
  </form>
  