
<div class="addCoupons">
    <div class="h  ">
        <div class="main-title my-4 mx-auto  ">
          <h1>Add Coupons</h1>
        </div>
      </div>

    <form [formGroup]="addForm" class="my-4" >
        <input formControlName="discountCode"  type="text" class=" w-100" placeholder="Enter DiscountCode.. " >
        <input formControlName="numOfRequests"  type="number" class=" w-100" placeholder="Enter NumOfRequest.. " >
        <!-- <input formControlName="discountType" value="Percentage"  type="text" class=" w-75 mx-auto" placeholder="Enter discountType.. " > -->
        <input formControlName="value" min="0" max="99"  type="number" class=" w-100" placeholder="Enter Value.. " >
    
    
    
    
    
    
    </form>

</div>