<footer class="footerPathAndDoc pt-3">
    <div class="container-fluid w-75 mx-auto">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="one">
                    <div class="logo">
                        <h1>ELDox<sub class="text-danger">.com</sub></h1>
    
                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="two">
                    <p>search By</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="two">
                    <p>Are You A Doctor ?</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="two">
                    <p>Need Help?</p>
                </div>

            </div>
            
        </div>
        <div class="row  ">
            <div class="col-md-2">
                
                <div class="contentOne">
                 
                    <div class="list ">
                        <ul>
                            <li><a href="">About us</a></li>
                            <li> <a href="">Our Team</a></li>
                            <li>  <a href="">Press</a></li>
                            <li>   <a href="">Careers</a></li>
                        </ul>
                        
                       
                      
                       
    
                    </div>

                </div>
                

            </div>
            <div class="col-md-2">
                <div class="contentTwo">
                   
                    <div class="list ">
                        <ul>
                            <li><a href="">Specialize</a></li>
                            <li> <a href="">Area</a></li>
                            <li>  <a href="">Insurance</a></li>
                            <li>   <a href="">Hospital</a></li>
                            <li>   <a href="">Center</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="col-md-3">
                <div class="contentThree">
                    <div class="list ">
                        <ul>
                            <li><a href="">Join Vezeeta Doctors</a></li>
                         
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <div class="contentFour">
                    <div class="list ">
                        <ul>
                            <li><a href=""> Medical Library</a></li>
                            <li> <a href="">Contact Us</a></li>
                            <li>  <a href="">Terms Of Use</a></li>
                            <li>   <a href="">Privacy Policy</a></li>
                            <li>   <a href="">Doctors Privacy Policy</a></li>
                        </ul>
                       




                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="contentFive ">
                    <div class="image my-3">
                        <img src="./assets/images/app-store-badge.jfif" alt="">
                    </div>
                    <div class="image my-3">
                        <img src="./assets/images/google-play-badge.jfif" alt="">
                    </div>
                    <div class="icons">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>

                    </div>

                    

                </div>


            </div>
        </div>
    </div>
    <div class="foot-content ">
        <p class="text-white">2024 © ElDox Hospital Template By <a class="" href="">hazem_Fady</a></p>

    
    </div>

</footer>
