
<div class="patients my-4 d-flex justify-content-between  flex-column">
    <!-- <div class="d-flex  w-50 mx-auto shadow-lg   justify-content-between  mb-2 p-2 rounded-3  mainD gap-3">

        <span routerLinkActive="activeLink" routerLink="allPatients" role="button">ALL Patients</span>
        <span routerLinkActive="activeLink" routerLink="addPatients" role="button">add Patients</span>
        <span routerLinkActive="activeLink" routerLink="editPatients" role="button">edit Patients</span>
        <span routerLinkActive="activeLink" routerLink="aboutPatients" role="button">about Patients</span>
        
    
      
     
    </div> -->
    <div class="main-section-doctors container-fluid " >
        <router-outlet></router-outlet>
    
    
    
    </div>
    

</div>


