<div class="mainSection container-fluid mt-5">
    <!-- Header -->
    <div class=" header d-flex justify-content-center">
        <div class="main-title my-4  ">
            <h1>All Specializations</h1>
        </div>
    </div>
    <!-- search -->
    <!-- PrimeNg -->
    <!-- name -->
    <!-- <div class="search  text-end  ">

        <input (keyup)="allDepartmentByName($event)" type="search" placeholder="Name Doctor"
            class="form-control-Hazem">

            

    </div> -->
    <div class="s text-end">
        <div class="container">
          <input checked="" class="checkbox" type="checkbox" />
          <div class="mainbox">
            <div class="iconContainer">
              <svg viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg" class="search_icon">
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
                </path>
              </svg>
            </div>
            <!-- list="idSpecialize" -->
            <input      (keyup)="allDepartmentByName($event)" class="search_input" placeholder="Search By Department" type="text" />
            <!-- <datalist id="idSpecialize">

                
              <option *ngFor="let item of listSpecialize"  [value]="item.id">{{item.name}}</option>
           
            </datalist> -->
          </div>
        </div>


      </div>


    <!-- Show Department -->
    <div class="row m-4 g-5 justify-content-center">
        <div class="col-md-3" *ngFor="let spl of listSpecialize">
            <div [routerLink]="['/AllSearchDoctors',spl.id]"  class="spl shadow py-4 rounded-4 text-center">
                <h6>{{spl.name}}</h6>
            </div>

        </div>
    </div>




</div>