<section class="mainSection container-fluid mt-5">
    <!-- search -->
    <!-- PrimeNg -->
    <!-- name -->

    <!-- Header -->
    <div class=" header d-flex justify-content-center">
        <div class="main-title my-4  ">
            <h1>All Doctors </h1>
        </div>
    </div>

    <!-- Show Doctor -->
    <div class="container-fluid my-5 mx-2" *ngIf="doctorsDetails; else doctorsListEmpty">
        <div class="row g-4 justify-content-center">
            <div class="col-md-3" *ngFor="let Doctor of doctorsDetails|paginate: { id: 'paginationAllDoctors',
            itemsPerPage: pagesObject!.pageSize,
            currentPage:pagesObject!.currentPage,
            totalItems: pagesObject!.totalCount }">
                <div class="content rounded-4  shadow ">
                    <div class="image overflow-hidden">
                        <img src="../../../../assets/images/Doc1.jpg" height="270" class="w-100 "
                            [alt]="Doctor.fullName">
                        <div class="overlay">

                        </div>
                        <!-- [src]="'https://localhost:7198/images/'+Doctor.photoPath" -->


                    </div>
                    <div class="footer my-3 px-3">
                        <h1>{{Doctor.fullName}}</h1>
                        <h6>{{Doctor.specialize}}</h6>



                    </div>
                    <div class="btnBook  ">
                        <button [routerLink]="['/bookDoctor',Doctor.id]" type="button"
                            class=" d-block ms-auto btn-primary">Book
                            Now</button>
                    </div>



                </div>

            </div>
        </div>

    </div>







    <div class="pagination my-5 d-flex justify-content-center w-100">
        <pagination-controls id="paginationAllDoctors" (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)" [maxSize]="9" [directionLinks]="true" [autoHide]="true"
            [responsive]="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</section>
<ng-template #doctorsListEmpty>
    <div class="notFound py-5 h-100 d-flex justify-content-center align-items-center">
        <div class=" my-3 py-5 shadow text-center px-3  rounded-5 overflow-hidden">
            <h1 class="text-center text-capitalize fw-bold">
                There is no doctor For Booking.
            </h1>
        </div>
    </div>
</ng-template>