.notFound{

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
    background: linear-gradient(
        135deg,
        red 25%,
        #1a1a1a 25%,
        #1a1a1a 50%,
        red 50%,
        red 75%,
        #1a1a1a 75%,
        #1a1a1a
      );
      background-size: 40px 40px;
      animation: move 4s linear infinite;
h1{
  font-size: 50px;
  font-weight: 900;
  color:white;
}
}
@keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }